<form class="form-horizontal" method="POST" action="/addSrv">
<div class="form-group form-group-border">
    <h2>Neue Datenbank anlegen/registrieren</h2>   
    <label for="Server">Server</label>
    <input type="text" class="form-control" id="Server" name="server" placeholder="Server">
    <label for="UserName">Benutzername</label>
    <input type="text" class="form-control" id="UserName" name="username" placeholder="Benutzername">
    <label for="DbPassword">Passwort</label>
    <input type="password" class="form-control" id="DbPassword" name="password" placeholder="Passwort">
    <label for="SrvType">Datenbanktyp</label>    
    <select class="form-control" name="srvtype" id="SrvType">
        <option>MySql</option>
        <option disabled>PostgreSQL</option>
        <option disabled>OCl8</option>
        <option disabled>SQLite</option>
        <option disabled>MongoDB</option>
    </select>
    <repeat group="{{ @validdb }}" value="{{ @error }}">
        <p class="error">{{ filter_var(trim(@error), FILTER_SANITIZE_STRING) }}</p>
    </repeat>
    <br>
    <button type="submit" class="btn btn-primary">Speichern</button>
</div>
</form>