<div class="container">
<h2>Datenbank bzw. Projektliste</h2>
<table class="table table-striped table-bordered">
    <tr>
        <th>Datenbankname*</th>
        <th>Projektname*</th>
        <th>alternativer<br>Benutzername</th>
        <th>alternatives<br>Passwort</th>
        <th>freischalten</th>
    </tr>
    <repeat group="{{ @dataFromDb }}" key="{{ @key }}" value="{{ @db }}">
<form class="form-horizontal" method="POST" action="/addPrj">
    <!--<div class="form-group form-group-border">-->
    <!--<label for="Server">Server</label>-->
            <tr>
            <td><input type="hidden" name="id" value="{{ @POST.id }}">
            <input type="text" class="form-control" id="DbName" name="dbname" placeholder="Datenbankname" value="{{ @key }}" readonly></td>
            <td><input type="text" class="form-control" id="PrjName" name="projectname" placeholder="Projektname" value="{{ @db.projectname }}"></td>
            <td><input type="text" class="form-control" id="AltUser" name="username" placeholder="Benutzername" value="{{ @db.username }}"></td>
            <td><input type="text" class="form-control" id="AltPw" name="password" placeholder="Passwort" value="{{ @db.password }}"></td>
            <td><button type="submit" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-plus green-symb" aria-hidden="true"></span></button></td>
        </tr>
</form>
    </repeat>
<form class="form-horizontal" method="POST" action="/addPrj">
                <tr>
            <td><input type="text" class="form-control" id="DbName" name="dbname" placeholder="Datenbankname"></td>
            <td><input type="text" class="form-control" id="PrjName" name="projectname" placeholder="Projektname" ></td>
            <td><input type="text" class="form-control" id="AltUser" name="username" placeholder="Benutzername"></td>
            <td><input type="text" class="form-control" id="AltPw" name="password" placeholder="Passwort"></td>
            <td><button type="submit" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-plus green-symb" aria-hidden="true"></span></button></td>
        </tr>
</form>
</table>
    <repeat group="{{ @validprj }}" value="{{ @error }}">
        <p class="error">EROOR {{ filter_var(trim(@error), FILTER_SANITIZE_STRING) }}</p>
    </repeat></div>