<form class="form-horizontal" method="POST" action="/editUser/{{ @POST.id }}">
<div class="form-group form-group-border">
    <h2>Neue Benutzer anlegen</h2>   
    <label for="userName">Benutzername</label>
    <input type="text" class="form-control" id="userName" name="username" placeholder="Benutzername" value="{{ @POST.username }}">
    <label for="InputPassword1">Passwort</label>
    <input type="password" class="form-control" id="InputPassword1" name="password" placeholder="Passwort">
    <label for="InputPassword2">Passwort wiederholen</label>
    <input type="password" class="form-control" id="InputPassword2" name="password2" placeholder="Passwort wiederholen">
    <div class="radio">
        <label><input type="radio" name="type" id="optionsRadios1" value="admin"
        <check if= "{{ @POST.type=='admin' }}">
            checked
        </check>
        >Administrator</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="type" id="optionsRadios2" value="user"
        <check if= "{{ @POST.type=='admin' }}">
       <false>checked</false>
        </check>
        >Benutzer</label>
    </div>
    <repeat group="{{ @validusr }}" value="{{ @error }}">
        <p class="error">{{ filter_var(trim(@error), FILTER_SANITIZE_STRING) }}</p>
    </repeat>
    <button type="submit" class="btn btn-primary">Speichern</button>
</div>
</form>