<form class="form-horizontal" method="POST" action="/addUser">
<div class="form-group form-group-border">
    <h2>Neue Benutzer anlegen</h2>   
    <label for="userName">Benutzername</label>
    <input type="text" class="form-control" id="userName" name="username" placeholder="Benutzername" value="{{ @POST.username }}">
    <label for="InputPassword1">Passwort</label>
    <input type="password" class="form-control" id="InputPassword1" name="password1" placeholder="Passwort" >
    <label for="InputPassword2">Passwort wiederholen</label>
    <input type="password" class="form-control" id="InputPassword2" name="password2" placeholder="Passwort wiederholen">
    <div class="radio">
        <label><input type="radio" name="optionsUserType" id="optionsRadios1" value="admin">Administrator</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optionsUserType" id="optionsRadios2" value="user" checked>Benutzer</label>
    </div>
    <repeat group="{{ @validusr }}" value="{{ @error }}">
        <p class="error">{{ filter_var(trim(@error), FILTER_SANITIZE_STRING) }}</p>
    </repeat>
    <button type="submit" class="btn btn-primary">Neuer Benutzer</button>
</div>
</form>