<div class="container">
<h2>{{ @dbdata.0.projectname }} - <a href="/formgen/{{ @dbdata.0.projectname }}/index.php">zu den erstellten Formularen</a></h2>
<h3>Formularauswahl</h3>
<table class="table table-striped table-bordered">
  <tr>
      <th>Tabellenname</th>
      <th>Formularname</th>
      <th>Anzahl<br>Tabellenfelder</th>
      <th>Anzahl<br>Formulfelder</th>
      <th>Formulare<br>bearbeiten</th>
  </tr>
    <repeat group="{{ @dataFromDb }}" key="{{ @key }}" value="{{ @db }}">
<form class="form-horizontal" method="POST" 
    <check if="{{ @db.formname == '' }}">
        action="/addFrm">
        <false>
            action="/editFrm">
        </false>
    </check>
        <tr>
            <td>
                <input type="hidden" name="dblist_id" value="{{ @dbdata.0.id }}">
                <input type="hidden" name="srvlist_id" value="{{ @srvdata.0.id }}">
                <input type="text" class="form-control" id="TblName" name="tablename" placeholder="Tabellenname" value="{{ @key }}" readonly>
            </td>
            <td><input type="text" class="form-control" id="FrmName" name="formname" placeholder="Formularname" 
                <check if="{{ @db.formname != '' }}">
                    value="{{ @db.formname }}" readonly
                </check>
                >
            </td>
            <td></td>
            <td></td>
            <td><button type="submit" class="btn btn-default" aria-label="Left Align"><span class="glyphicon 
                <check if="{{ @db.formname == '' }}">
                        glyphicon-plus green-symb" aria-hidden="true"></span></button></form>
                    <false> glyphicon-pencil green-symb" aria-hidden="true"></span></button></form>
                        <button class="btn btn-default" aria-label="Left Align">
                            <a href="/createFrm/{{ @db.id }}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
                        </button>
                        <button class="btn btn-default" aria-label="Left Align">
                            <a href="/delFrm/{{ @db.id }}/{{ @db.dbid }}/{{ @srvdata.0.id }}"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                        </button>
                    </false>
                </check>
            </td>
        </tr>

    </repeat>
<form class="form-horizontal" method="POST" action="/addFrm">
                <tr>
            <td>
                <input type="hidden" name="dblist_id" value="{{ @dbdata.0.id }}">
                <input type="hidden" name="srvlist_id" value="{{ @srvdata.0.id }}">
                <input type="text" class="form-control" id="TblName" name="tablename" placeholder="Tabellenname"></td>
            <td><input type="text" class="form-control" id="FrmName" name="formname" placeholder="Formularname" ></td>
            <td></td>
            <td></td>
            <td><button type="submit" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-plus green-symb" aria-hidden="true"></span></button></td>
        </tr>
</form>
</table>
    <repeat group="{{ @validfrm }}" value="{{ @error }}">
        <p class="error">EROOR {{ filter_var(trim(@error), FILTER_SANITIZE_STRING) }}</p>
    </repeat></div>