<h2>Projektauswahl</h2>

<table class="table table-striped table-bordered">
  <tr>
      <th>Server</th>
      <th>Datenbankname</th>
      <th>Projektname</th>
      <th>Anzahl<br>Tabellen</th>
      <th>Anzahl<br>Formulare</th>
      <!--<th>Projektdaten<br>bearbeiten</th>-->
      <th>Formulare<br>bearbeiten</th>
  </tr>
  <tr>
    <repeat group="{{ @dataFromDb }}" key="{{ @ikey }}" value="{{ @idiv }}">
    <td>{{ @idiv.server }}</td>
    <td>{{ @idiv.dbname }}</td>
    <td>{{ @idiv.projectname }}</td>
    <td>{{ @idiv.tables }}</td>
    <td>{{ @idiv.forms }}</td>
    <!--<td><span class="glyphicon glyphicon-pencil green-symb" aria-hidden="true"></td>-->
    <td><a href="/showFrms/{{ @idiv.srvlist_id }}/{{ @idiv.id }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></td>
  </tr>
</repeat>
<form class="form-horizontal" method="POST" action="/addPrjUsr">
                <tr>
            <td>
              <select class="form-control" name="srvlist_id">
                  <repeat group="{{ @srvs }}" key="{{ @ikeysrv }}" value="{{ @idivsrv }}">
              <option value={{ @ikeysrv }}>{{ @idivsrv.server }}({{ @idivsrv.username }})</option>
                </repeat>
              </select>
            </td>
            <td><input type="text" class="form-control" id="DbName" name="dbname" placeholder="Datenbankname"></td>
            <td><input type="text" class="form-control" id="PrjName" name="projectname" placeholder="Projektname" >
            </td>
            <td><button type="submit" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-plus green-symb" aria-hidden="true"></span></button></td>
        </tr>
</form>
</table>
    <repeat group="{{ @validprj }}" value="{{ @error }}">
        <p class="error">{{ filter_var(trim(@error), FILTER_SANITIZE_STRING) }}</p>
    </repeat>