<h2>Projektauswahl</h2>

<table class="table table-striped table-bordered">
  <tr>
      <th>ID</th>
      <th>Server</th>
      <th>Benutzername</th>
      <th>Passwort</th>
      <th>Datenbanktyp</th>
      <th>Datenbankname</th>
      <th>Anzahl<br>Tabellen</th>
      <th>Anzahl<br>Formulare</th>
      <th>Projektdaten<br>bearbeiten</th>
      <th>Formulare<br>bearbeiten</th>
      <th>Datenbank<br>löschen</th>
  </tr>
  <tr>
    <repeat group="{{ @dataFromDb }}" key="{{ @ikey }}" value="{{ @idiv }}">
    <repeat group="{{ @idiv }}" value="{{ @ispan }}">
    <td>{{ @ispan }}</td>
    </repeat>
    <td>0</td>
    <td>0</td>
  </tr>
</repeat>
</table>Datnebankliste
<ul>
<repeat group="{{ @db_list }}" value="{{ @db }}">
    <li>{{ @db  }}</li>
</repeat>
</ul>