<h2>Projektauswahl</h2>

<table class="table table-striped table-bordered">
  <tr>
      <th>Server</th>
      <th>Datenbankname</th>
      <th>Projektname</th>
      <th>Anzahl<br>Tabellen</th>
      <th>Anzahl<br>Formulare</th>
      <th>Projektdaten<br>bearbeiten</th>
      <th>Formulare<br>bearbeiten</th>
      <th>Datenbank<br>löschen</th>
  </tr>
  <tr>
    <repeat group="{{ @dataFromDb }}" key="{{ @ikey }}" value="{{ @idiv }}">
    <td>{{ @idiv.srvname }}</td>
    <td>{{ @idiv.dbname }}</td>
    <td>{{ @idiv.projectname }}</td>
    <td>0</td>
    <td>0</td>
  </tr>
</repeat>
<form class="form-horizontal" method="POST" action="/addPrjUsr">
                <tr>
            <td>
              <select class="form-control" name="servername">
                  <repeat group="{{ @srvs }}" key="{{ @ikeysrv }}" value="{{ @idivsrv }}">
              <option value={{ @ikeysrv }}>{{ @idivsrv }}</option>
              </select>
            </td>
            <td><input type="text" class="form-control" id="DbName" name="dbname" placeholder="Datenbankname"></td>
            <td><input type="text" class="form-control" id="PrjName" name="projectname" placeholder="Projektname" ></td>
            <td><button type="submit" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-plus green-symb" aria-hidden="true"></span></button></td>
        </tr>
</form>
</table>